# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Executables
*.exe
*.out
*.app
q1_daxpy
q2_matrix_multiply
q3_pi_calculation

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
build/
bin/
obj/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dependency files
*.d